body{
  background-color: white;
}
#inputform{
  background-color: #4e6b9b;
  height: 0;
  transition: 0.5s;
  border-width: 5px;
  border-color: black;
  overflow: hidden;
  display: inline-block;
  width: 650px; 
  margin-left: auto;
  margin-right: auto;
}

#formbutton{
  cursor:pointer;
  padding: 20px;
  background-color: #6254a2;
  font-size: 48px;
  font-family: 'Cabin Condensed', sans-serif;
  color: white; 
  overflow: hidden;
  height: 35px;
  font-weight: bold;
  text-align: center;
  width: 200px; 
  margin-left: auto;
  margin-right: auto;
}
#description{
  color: red;
}

label{
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: inline;
  font-size: 16px;
  padding: 2px; 
}

input{
  border: 0;
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 14px;  
  margin-left: 250px;  
}

#submit{
  margin-top: 10px;
  border: 0;
  background-color: #6254a2;
  font-size: 14px;
  color: white;
}
#submit:hover{
  background-color: #47388b;
}
/* Tablets */
/*@media only screen and (min-width: 768px) {

}*/
/* Desktop */
/*@media only screen and (min-width: 992px) {

} */

