body{
  background-color: white;
}
#inputform{
  background-color: #4e6b9b;
  height: 0;
  transition: 0.5s;
  border-width: 5px;
  border-color: black;
  overflow: hidden;
}

#formbutton{
  cursor:pointer;
  padding: 20px;
  border-width: 1px;
  font-size: 32px;
  font-family: 'Cabin Condensed', sans-serif;
  color: red; 
  overflow: hidden;
  transition: 0.5s;
  font-weight: bold;
}
#description{
  color: red;
}

label{
  font-family: 'Montserrat', sans-serif;
  color: black;
  display: inline-block;
  text-align: center;
  font-size: 14px;  
}

input{
  border: 0;
  font-family: 'Montserrat', sans-serif;
  display: block;
  color: black;
  font-size: 12px;  
}

#submit{
  margin-top: 10px;
  border: 0;
}
#submit:hover{
  background-color: red;
}
/* Tablets */
/*@media only screen and (min-width: 768px) {

}*/
/* Desktop */
/*@media only screen and (min-width: 992px) {

} */

