html{
  background: url(itmd362-project1/images/background.jpg);   
  transition: 1.0s;
}

#inputform{
  background-color: #4e6b9b;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
  width: 100%; 
  margin-top: 25px;  
}

#pitch{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding:20px;
  color: white;
  background-color: #429388;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

#formbutton{
  cursor:pointer;
  background-color: #6254a2;
  font-size: 20px;
  font-family: 'Cabin Condensed', sans-serif;
  color: white; 
  overflow: hidden;
  height: 35px;
  font-weight: bold;
  text-align: center;
  width: 250px; 
  margin-top: 25px;   
  margin-left: auto;
  margin-right: auto;
}

#formbutton:hover{
  background-color: #47388b;
}

#description{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px; 
  padding: 4px;
  font-family: 'Cabin Condensed', sans-serif;

}

label{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 16px;
  padding: 10px 20px; 
  display:block;
}

input{
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;    
  display: inline;
  float: right;
  width: 150px;
  height: 24px; 
}

#submit{
  border: 0;
  background-color: #6254a2;
  font-size: 24px;
  color: white;
  font-family: 'Cabin Condensed', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
#submit:hover{
  background-color: #47388b;
}
/* Tablets */
@media only screen and (min-width: 768px) {
  #inputform{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;    
  }
}
/* Desktop */
@media only screen and (min-width: 992px) {
  #inputform{
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 800px;
  }
}

